{% if user.is_authenticated == False %}
    <li>
        <a href="{% url 'login_page' %}">Log in</a>
    </li>
    <li>
        <a href="{% url 'signup_page' %}">Sign up</a>
    </li>
{% endif %}
{% if user.is_authenticated == True %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'profile_page' name=user.username %}">My profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'profile_edit' %}">Edit</a></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
{% endif %}