{% extends "base.html" %}
{% block styles %}

    <link href="/public/css/am-qs-thread.css" rel="stylesheet">

{% endblock %}
{% block content %}

    {% include "blocks/question_long.html" %}

    <div class="am-answers container col-xs-11">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">New</a></li>
            <li><a href="#">Popular</a></li>
        </ul>
        {% include "blocks/answers_long.html" %}

    </div>
    {% include "blocks/answer_form.html" %}
{% endblock %}


